@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Lexend:wght@100..900&display=swap");
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.test-container {
  display: none;
}

.test-8-product-list-section #root, .test-8-product-list-section .test-container,
.test-8-product-list-section .test-container div {
  border-radius: unset;
  background-color: unset;
  padding: unset;
}

 .test-8-product-list-section .Main-c__plp {
 	width: 100%;
 }

 .test-8-product-list-section .Main-c__plp .plp__header, .test-8-product-list-section .Main-c__plp .plp__details {
	display: none;
} 

.test-8-product-list-section .test-container {
  max-width: 1440px;
  margin-inline: auto;
  display: block;
  padding-inline: 10px;
}

.test-8-product-list-section .title-container > h2 {
  font-family: "Lexend", sans-serif;
  font-size: 42px;
  line-height: 52.5px;
  font-weight: 600;
  text-align: center;

  padding: 24px 0px;
}

/* Tabs container */
.test-8-product-list-section .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0 !important;
}

.test-8-product-list-section .tab {
  display: inline-block;
  padding: 10px 20px !important;
  cursor: pointer;
  white-space: nowrap;
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  line-height: 18.75px;
  font-weight: 400;
  text-align: center;
}
/* Active tab */
.test-8-product-list-section .tab.active {
  border-bottom: 1px solid #000000;
}

/* Content for each tab */
.test-8-product-list-section .tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: -1px;
}

/* Show the active content */
.test-8-product-list-section .tab-content.active {
  display: block;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 280px); /* 4 columns for desktop */
  gap: 30px; /* Space between grid items */
  padding-inline: 20px !important;
  margin-block: 45px !important;
  justify-content: center;
}

.product-image-container {
  width: 279px;
  height: 325px;
  background: #f9f9f9 !important;
  position: relative;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-favourite {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: bottom 0.2s;
}

.main-catagory {
  font-family: "Lexend", sans-serif;
  font-size: 10px;
  line-height: 12.5px;
  font-weight: 600;
  text-align: start;
  color: #666666;
  margin-block: 0.5rem;
  text-transform: capitalize;
}

.product-title {
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  line-height: 18.75px;
  font-weight: 600;
  text-align: start;
  margin-block: 0.5rem;
  text-transform: capitalize;

}

.product-price {
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  line-height: 18.75px;
  font-weight: 600;
  text-align: start;
  margin-block: 0.5rem;
}

.product-addcart {
  display: block;
  position: absolute;
  border: none;
  outline: none;
  bottom: -38px;
  left: 0px;
  right: 0px;
  height: 38px;
  background: #0000004f;
  color: white;
  font-family: "Lexend", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: bottom 0.2s;
  cursor: pointer;
}

.product-image-container:hover .product-addcart {
  bottom: 0px;
}
.product-image-container:hover .product-favourite {
  bottom: 54px;
}
.discover-container {
  display: flex;
  justify-content: center;
}
.discover-container > p {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  padding: 24px 0px;
  text-transform: uppercase;
  width: fit-content;
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-right: 15px;
  cursor: pointer;
}


@media (max-width: 1250px) {
  .products-container {
    grid-template-columns: repeat(
      3,
      280px
    );
  }
}

@media (max-width: 1010px) {
  .products-container {
    grid-template-columns: repeat(
      3,
      minmax(100px, 180px)
    ); /* 3 columns for tablet */
    padding-inline: 0px !important;
    margin-block: 30px !important;
    gap: 15px;
  }

  .test-8-product-list-section .title-container > h2 {
    font-size: 28px;
    line-height: 35px;
    padding: 24px 0px;
  }

  .test-8-product-list-section .tabs {
    /* padding: 10px; */
    justify-content: start;
  }

  .test-8-product-list-section .tab {
    padding: 10px !important;
    font-size: 13px !important;
  }

  .product-addcart {
    bottom: 0px;
  }

  .product-favourite {
    bottom: 53px;
    right: 10px;
  }

  .product-image-container {
    width: min(100%, 180px);
    height: 209.68px;
  }

  .product-title {
    font-size: 13px;
    line-height: 16.25px;
  }

  .discover-container > p {
    font-size: 13px;
    line-height: 16.25px;
  }
}

@media (max-width: 799px) {
  .test-8-product-list-section .tabs {
    justify-content: start;
  }

  .products-container {
    grid-template-columns: repeat(
      2,
      minmax(100px, 180px)
    ); /* 2 columns for mobile */
  }
}
