@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.mt-5 {
  margin-top: 3rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.m-0 {
  margin: 0px !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.cta {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: #0056b3;
}

/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Hidden class */
.hidden {
  display: none;
}

/* Popup Container */
.popup-container {
  background-color: #fff;
  width: 972px;
  height: 558px;
  position: relative;
  overflow: hidden;
}

/* Close Icon */
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

/* Popup Button */
.popup-button {
  padding: 10px 20px;
  margin: 15px 0;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.popup-button:hover {
  background-color: #218838;
}

.login-link:hover {
  text-decoration: underline;
}

.main-container {
  display: flex;
  height: 100%;
}

.image-block {
  flex: 0.5;
  background-image: url("./assets/web_reponsive_pic.png");
  background-size: cover;
}

.content-block {
  flex: 0.5;
  padding: 25px;
  background-color: #e9d9d4;

  display: flex;
  align-items: center;
}

.content-title-font-style {
  font-family: "Lexend", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.content-description-font-style {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.content-title-size {
  margin-block: 15px !important;
  padding-inline: 15px;
}

.content-description-size {
  margin-bottom: 26px !important;
}

.section-login {
  margin-block: 30px;
}

#onPopupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  width: 80%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

input:focus-visible {
  outline: 1px solid #757575;
}

.input-font-style {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
}

.input-size {
  width: -webkit-fill-available;
  height: 50px;
  border: 1px solid #757575;
  border-radius: 5px;
  padding-inline: 16px;
}

.validation-error {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 25px;
  height: 25px;
  text-align: center;
  color: #FF0404;
  margin-left: 15px;
}
.form-submit-style {
  width: 80%;
  height: 55px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background: black;
  color: white;
}

.form-submit-font-style {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
}

.ignore-button {
  border: none;
  background: none;
  border-bottom: 1px solid #D9D9D9;
  color: #888888;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-inline: auto;
}

.image-holder {
  display: flex;
  justify-content: start;
  margin-right: 10px;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

#screen2 {
  margin-bottom: 35px;
}

@media (max-width: 957px) {

  .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;

    background: white;
    border-radius: 50%;
  }

  .main-container {
    flex-direction: column;
  }

  .image-block {
    background-image: url("./assets/mobile_responsive_group.png");
    min-height: 100px !important;
  }

}

@media (max-width: 425px) {

  main {
    width: 100%;
  }
}