@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

.test-6-footer-section {
  /* height: 100vh; */
}


.test-6-footer-section .test-6-reset{
  border-radius: unset;
  background-color: unset;
  padding: unset;
}

/* By default it will be hiddne */
.test-6-footer {
  display: none;
}

.test-6-footer-section .test-6-footer {
  height: 100%;
  width: 100%;
  display: block;
  color: white;
}


.test-6-footer-section .test-6-footer > div:nth-child(n) {
  max-width: 1440px;
  margin-inline: auto;
}

.test-6-footer-section .test-6-footer-container {
  background-color: black !important;
}

.test-6-footer-section .test-6-copyrights-container {
  background-color: #434343 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6.5px;
  padding-bottom: 10.7px;
}

.test-6-footer-section .test-6-copyrights-container > p {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  margin: 0px;
}

@media (max-width: 1010px) { 
  .test-6-footer-section .test-6-copyrights-container > p {
    font-size: 10px;
  }
}