@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

.w-75 {
    width: 75%;
}

.m-0 {
    margin: 0px !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.border-bottom {
    border-bottom: 1px solid #d6cfc9;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

.test-5-main-navbar-container {
    height: 90px;
    width: 100%;
    background-color: #000000;
}

.test-5-sub-navbar-container {
    height: 50px;
    width: 100%;
    background-color: #2F2F2F;
}

.main-container-1 {
    max-width: 1230px;
    width: 100%;
    height: 100%;
    padding-block: 18px;
    padding-inline: 20px;
    margin-inline: auto;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test-5-logo {
    height: 36.75px;
}

.test-5-icons-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.test-5-user-icon {
    padding: 2px 5px;
    margin-right: 30px;
}

.test-5-user-icon>img {
    height: 22px;
}

.test-5-cart-icon {
    padding: 2px 5px;
    position: relative;
}

.test-5-cart-icon>img {
    height: 23px;
}

.test-5-cart-count {
    padding: 3px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    right: -15px;
    width: 25px;
}

.test-5-cart-count>p {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 13.75px;
    text-align: center;
}


.test-5-search-container {
    position: relative;
}

.test-5-search-input {

    width: 663px;
    height: 50px;
    border-radius: 4px;
    padding: 18px 20px 18px 18px;
    outline: none;
    border: none;

    position: relative;

    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #888888;
}

.test-5-search-icon {
    position: absolute;
    right: 10px;
    top: 25px;
    transform: translate(-50%, -50%);
}

.test-5-search-mobile-icon {
    padding: 2px 5px;
    display: none;
}

.test-5-search-mobile-icon>img {
    height: 14px;
}

.test-5-menu-bars {
    width: 30px;
    display: none;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    background: transparent;
    height: 90%;
    margin-right: 0px;
    padding: 0px;
}

.test-5-menu-bars>hr:nth-child(n) {
    color: #ffffff;
    border: 1.1px solid #ffffff;
    width: 100%;
    opacity: 1;
    height: 3px;
    background: white;
    border-radius: 5px;
}

.test-5-menu-bars>hr:not(:last-child) {
    margin-bottom: 6px;

}

nav.test-5-desktop {
    width: fit-content;
    height: 100%;
    margin: auto;
}

nav.test-5-desktop>ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    margin-left: 100px;
}

nav.test-5-desktop>ul>li:nth-child(n) {
    height: 100%;
    padding: 15px 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}


nav.test-5-desktop>ul>li:nth-child(n):hover {
    background-color: #FFFFFF;

}

nav.test-5-desktop>ul>li:nth-child(n)>a {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 18.75px;
    text-align: center;
    color: white;
    text-decoration: none;
}

#shop-desktop > a >.down_arrow {
    display: inline;
}
#shop-desktop > a >.up_arrow {
    display: none;
}

#shop-desktop.hover-active {
    background-color: #FFFFFF;
}

#shop-desktop.hover-active > a {
    color: black;
}

#shop-desktop.hover-active > a >.down_arrow {
    display: none;
}
#shop-desktop.hover-active > a >.up_arrow {
    display: inline;
}


/* nav.test-5-desktop>ul>li:nth-child(n)>a>.down_arrow {
    display: inline;
}

nav.test-5-desktop>ul>li:nth-child(n)>a>.up_arrow {
    display: none;
} */

/* nav.test-5-desktop>ul>li:nth-child(n):hover>a>.down_arrow {
    display: none;
}

nav.test-5-desktop>ul>li:nth-child(n):hover>a>.up_arrow {
    display: inline;
} */

nav.test-5-desktop>ul>li:nth-child(n):hover>a {
    color: black;
}

#shop-desktop {
    position: relative;
}

#shop-desktop-dropdown {
    display: none;
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 0px;
    z-index: 1000;
    border-bottom: 1px solid #d9d9d9;
    transition: height .2s cubic-bezier(0.6,0,0.4,1);
}

/* Show the submenu on hover */
/* #shop-desktop:hover #shop-desktop-dropdown {
    display: block;
    height: 406px;
} */


.test-5-dynamic-cotegories-container {
    width: 50% !important;
    display: flex;
    padding: 0px !important;
}

.test-5-dynamic-cotegories-container > div:first-child {
    border-right: 1px solid #D9D9D9;
}


.test-5-dynamic-cotegories-container > div:nth-child(n) {
    flex: 1;
}

.shop-desktop-dropdown-container {
    max-width: 1440px;
    height: 100%;
    display: flex;
    width: 100%;
    margin-inline: auto;
}

.shop-desktop-dropdown-container > div:nth-child(n) {
    width: 25%;
    height: 100%;
    padding: 22px;
}

.shop-desktop-dropdown-container > div:not(:last-child) {
    border-right: 1px solid #D9D9D9;
}
.test-5-poster-container {
    padding-inline: 78px !important;
    width: 30% !important;
}
.test-5-poster-container > .test-5-image-container{
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
}

.test-5-poster-container > .test-5-image-container > img{
    width: 100%;
    height: 100%;
}
.test-5-poster-content {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;

    background-image: linear-gradient(to top, #000000c9, transparent);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 20px;
}

.test-5-new-arrivals-text {
    font-family: "Lexend", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    text-transform: uppercase;
}

.test-5-poster-content > a {
    font-family: "Lexend", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 30px;
    text-align: center;
    color: inherit;
    text-transform: uppercase;
}

.test-5-other-pages {

}
.test-5-other-pages > ul  {
    list-style: none;
    padding: 23px 54px;
}
.test-5-other-pages > ul > li:nth-child(n)  {
    padding-left: 30px;
}
.test-5-other-pages > ul > li:nth-child(n) > a {
    width: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;

    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: start;
    color: #000000;
}

.test-5-sub-categories-container > ul {
    list-style: none;
    padding-top: 42px;
    padding-left: 36px;
    height: 100%;
    width: 100%;
}

.test-5-sub-categories-container > ul > li:nth-child(n)  {
    margin-bottom: 7px;
}

.test-5-sub-categories-container > ul > li:nth-child(n) > a {
    width: 100%;
    display: inline-block;
    text-decoration: none;

    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    text-align: start;
    color: #000000;
}

.test-5-main-categories-container {
    padding-inline: 0px !important;
    padding-top: 22px !important;
}

.test-5-main-categories-container > ul {
    padding: 0px;
    padding-block: 20px;
    list-style: none;
    height: 100%;
    width: 100%;
}

.test-5-main-categories-container > ul > li:nth-child(n)  {
    padding-left: 52px;
    padding-block: 10px;
    padding-right: 44px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.test-5-main-categories-container > ul > li:nth-child(n):hover  {
    background: #EFEFEF;
}

.test-5-main-categories-container > ul > li:nth-child(n) > a {
    width: 100%;
    display: inline-block;
    text-decoration: none;

    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: start;
    color: #000000;
}

.right-arrow {
    rotate: 90deg;
}

@media (max-width: 1300px) {
    .test-5-other-pages > ul {
        padding: 23px 18px;
    }
    .test-5-poster-container {
        padding-inline: 60px !important;
        width: 30% !important;
    }
}

@media (max-width: 1010px) {

    .test-5-logo {
        height: 22px;
    }

    .test-5-user-icon {
        margin-right: 5px;
    }

    .test-5-user-icon>img {
        height: 15px;
    }

    .test-5-cart-icon>img {
        height: 18px;
    }

    .test-5-search-mobile-icon {
        display: block;

        margin-right: 5px;
    }

    .test-5-search-container {
        display: none;
    }

    .test-5-menu-bars {
        display: flex;
    }


}