.m-0 {
    margin: 0px !important;
}
.pt-3 {
    padding-top: 1rem !important;
}

.text-center {
    text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

header {
  border-bottom: 1px solid #dddddd;
}

.campaign-heading-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 45.29px;
}