.m-0 {
  margin: 0px !important;
}
.pt-3 {
  padding-top: 1rem !important;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

header {
  border-bottom: 1px solid #dddddd;
}

.container {
  max-width: 1185px;
  width: 100%;
}
.campaign-heading-text {
  font-family: "Samsung Sharp Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 45.29px;
}
.campaign-product-container {
  display: flex;
  justify-content: space-between;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  .campaign-banner-image {
    width: 168px;
    height: 51px;
  }
  .campaign-heading-text {
    font-size: 20px;
    line-height: 25.16px;
  }
  .campaign-product-container {
    flex-direction: column;
    justify-content: space-between;
  }
  /* .campaign-product-image {
    width: 374.81px;
    height: 245px;
  } */
}
