.h-100 {
  height: 100% !important;
}
.w-100 {
  width: 100% !important;
}
.w-75 {
  width: 75%;
}
.m-0 {
  margin: 0px !important;
}
.mt-5 {
  margin-top: 3rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: .5rem !important;
}
.mt-1 {
  margin-top: .25rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}
.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}
.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}
.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}
.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.my-2 {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}
.my-1 {
  margin-top: .25rem !important;
  margin-bottom: .25rem !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.border-bottom {
  border-bottom: 1px solid #d6cfc9;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

body {
  margin: 0px;
}

.container {
  max-width: 872px;
  width: 100%;
}
.standard-delivery-heading {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 38.98px;
  text-align: center;
  margin-block: 2rem !important;
}

table {
  width: 1100px;
  border: 10px solid #d5d2cf;
  border-collapse: collapse;
  margin-inline: auto;
}

thead {
  background-color: #6a5e52;
  color: white;
}
.table-head-column {
  padding: 28px;
  text-align: start;
}
.table-body-column {
  padding: 28px;
  text-align: start;
  padding-block: 1.5rem !important;
}
.table-head-text-title {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.92px;
}

.table-head-text-description {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.05px;
}

.table-body-text-title {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.92px;
}

.table-body-text-description {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.05px;
}
.info-message {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.05px;
}
td:last-child > p {
  text-align: end !important;
}

.paragraph {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

section > h3 {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.8px;
}

p > a {
  color: inherit;
}