@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Lexend:wght@100..900&display=swap");
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.test-7-banner-section #root {
  border-radius: unset;
  background-color: unset;
  padding: unset;
}

.test-7-banner-section .Main-c__plp {
  width: 100% !important;
}

.test-7-banner-section .plp__header,
.test-7-banner-section .plp__details {
  display: none;
}

.test-7-banner-section .test-container div {
  border-radius: unset;
  background-color: unset;
  padding: unset;
}

.test-7-banner-section .web-image,
.test-7-banner-section .mobile-image {
  width: 100%;
  height: 100%;
}

.test-7-banner-section .web-image {
  display: block;
}

.test-7-banner-section .mobile-image {
  display: none;
}

.test-container {
  display: none;
}

.test-7-banner-section .test-container {
  max-width: 1272px;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
}

/* Container styles */
.test-7-banner-section .grid-container {
  display: grid;
  grid-template-columns: 368px 370px 494px;
  grid-template-rows: 311px 368px;
  gap: 10px;
  padding: 50px 10px !important;
  width: fit-content;
}

/* Desktop Layout */
.test-7-banner-section .item1 {
  background: #fdf7f4 !important;
  grid-column: span 2;
  grid-row: 1;
}

.test-7-banner-section .item2 {
  background: #e8e2dd !important;
  grid-column: 3;
  grid-row: 1 / span 2;
}

.test-7-banner-section .item3 {
  background: #457fa1 !important;
  grid-column: 1;
  grid-row: 2;
}

.test-7-banner-section .item4 {
  grid-column: 2;
  grid-row: 2;
  background-color: #b78259 !important;
}

.test-7-banner-section .grid-item {
  position: relative;
}

.test-7-banner-section .item1 > .content-container,
.test-7-banner-section .item2 > .content-container {
  position: absolute;
  top: 28px;
  left: 28px;
}

.test-7-banner-section .item2 > .content-container {
  position: absolute;
  top: 28px;
  left: 28px;
}

.test-7-banner-section .item3 > .content-container {
  position: absolute;
  top: 50%;
  right: 28px;
  text-align: end;
  color: white;
  transform: translate(0%, -50%);
}

.test-7-banner-section .content-title {
  font-family: "Leckerli One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.21px;
  text-align: start;
  margin-bottom: 7px;
}

.test-7-banner-section .content-description {
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 14px;
  width: 47%;
}

.test-7-banner-section .content-button {
  border: none;
  background: white;
  margin-left: 5px;
  color: black;
  font-family: "Lexend", sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  text-align: center;
  text-transform: capitalize;
  padding: 14px 10px;
  border-radius: 5px;
  width: 140px;
  height: 45px;
  cursor: pointer;
  font-weight: 700;
}

.test-7-banner-section .item3 > .content-container > .content-title {
  text-align: end;
}

.test-7-banner-section .item3 > .content-container > .content-description {
  margin-bottom: 43px;
  width: unset;
}
.test-7-banner-section .item4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.test-7-banner-section .item4 > p:first-child {
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  width: 64%;
  margin: 0px;
}
.test-7-banner-section .item4 > p:nth-child(2) {
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-size: 114px;
  line-height: 142.5px;
  text-align: center;
  margin: 0px;
}

.test-7-banner-section .carousel {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 612px;
  overflow: hidden;
}

.test-7-banner-section .slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.test-7-banner-section .slide {
  min-width: 100%;
  box-sizing: border-box;
}

.test-7-banner-section .slide:nth-child(1) {
  background: #ffd6b6 !important;
}
.test-7-banner-section .slide:nth-child(2) {
  background: #062c1e !important;
}
.test-7-banner-section .slide:nth-child(3) {
  background: #ebe6dc !important;
}

.test-7-banner-section .slide img {
  width: 100%;
  height: 100%;
}

.test-7-banner-section .nav-buttons {
  position: absolute;
  top: 49%;
  display: flex;
  justify-content: space-between;
  width: 95%;
  transform: translate(3%, -50%);
}

.test-7-banner-section .nav-buttons button {
  background-color: rgb(255, 255, 255) !important;
  color: black;
  border: 1px solid;
  cursor: pointer;
  border-radius: 50%;
  font-size: 14px;
  line-height: 1;
  width: 25px;
  height: 25px;
}

.test-7-banner-section .dots-container {
  position: absolute;
  bottom: 16%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.test-7-banner-section .dot {
  height: 6px;
  width: 32px;
  margin: 0 5px;
  background-color: #ffffffb2 !important;
  border-radius: 2px !important;
  display: inline-block;
  cursor: pointer;
}

.test-7-banner-section .dot.active {
  background-color: #717171 !important;
}

.test-7-banner-section .slide-title {
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 70px;
}
.test-7-banner-section .slide-description {
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.test-7-banner-section .slide-button {
  font-family: "Lexend", sans-serif;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 22.5px;
  text-align: center;
  font-weight: 500;
  padding: 17px 40px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
}

.test-7-banner-section .slide-item-1,
.test-7-banner-section .slide-item-2,
.test-7-banner-section .slide-item-3 {
  position: relative;
}

/* first slide */
.test-7-banner-section .slide-item-1 > .slide-content-container {
  position: absolute;
  top: 153px;
  left: 130px;
}

.test-7-banner-section .slide-item-1 > .slide-content-container > .slide-title {
  margin-bottom: 20px;
}
.test-7-banner-section
  .slide-item-1
  > .slide-content-container
  > .slide-description {
  color: #666;
  margin-bottom: 58px;
}

/* second slide */
.test-7-banner-section .slide-item-2 > .slide-content-container {
  position: absolute;
  top: 169px;
  right: 130px;
}
.test-7-banner-section .slide-item-2 > .slide-content-container > .slide-title {
  color: #ffffff;
  margin-bottom: 20px;
}
.test-7-banner-section
  .slide-item-2
  > .slide-content-container
  > .slide-description {
  color: #ffffff;
  margin-bottom: 58px;
}

/* first slide */
.test-7-banner-section .slide-item-3 > .slide-content-container {
  position: absolute;
  top: 153px;
  left: 130px;
}

.test-7-banner-section .slide-item-3 > .slide-content-container > .slide-title {
  width: 63%;
  margin-bottom: 20px;
}
.test-7-banner-section
  .slide-item-3
  > .slide-content-container
  > .slide-description {
  color: #666;
  margin-bottom: 58px;
}

.test-7-banner-section .web-slider-image {
  display: block;
}

.test-7-banner-section .mobile-slider-image {
  display: none;
}

/* Mobile Layout */
@media (max-width: 1270px) {
  .test-7-banner-section .grid-container {
    grid-template-columns: 0.6fr 0.6fr 0.8fr;
  }
}

/* Mobile Layout */
@media (max-width: 1010px) {
  .test-7-banner-section .grid-container {
    width: 100%;
    justify-content: center;
    grid-template-columns: minmax(100px, 380px);
    grid-template-rows: repeat(5, 243px);
    padding: 10px 10px !important;
  }

  .test-7-banner-section .web-image {
    height: 133%;
    object-fit: cover;
  }

  .test-7-banner-section .grid-item {
    overflow: hidden;
  }

  .test-7-banner-section .item1 {
    grid-row: 1;
    grid-column: 1;
  }

  .test-7-banner-section .item2 {
    grid-row: 4 / span 2;
    grid-column: 1;
  }

  .test-7-banner-section .item3 {
    grid-row: 2;
    grid-column: 1;
  }

  .test-7-banner-section .item4 {
    grid-row: 3;
    grid-column: 1;
  }

  .test-7-banner-section .item1 > .content-container,
  .test-7-banner-section .item2 > .content-container {
    position: absolute;
    top: 17px;
    left: 17px;
  }

  .test-7-banner-section .item1 > .content-container > .content-title {
    font-size: 14px;
    line-height: 18.83px;
  }
  .test-7-banner-section .item1 > .content-container > .content-description {
    font-size: 22px;
    line-height: 27.5px;
  }
  .test-7-banner-section .item2 > .content-container > .content-title {
    font-size: 14px;
    line-height: 18.83px;
  }
  .test-7-banner-section .item2 > .content-container > .content-description {
    font-size: 22px;
    line-height: 27.5px;
  }
  .test-7-banner-section .item4 > p:nth-child(2) {
    font-size: 71px;
    line-height: 88.75px;
  }

  .test-7-banner-section .item3 > .content-container {
    top: 45%;
    text-align: start;
    width: 169px;
  }
  .test-7-banner-section .item3 > .content-container > .content-title {
    text-align: start;
    font-size: 14px;
    line-height: 18.83px;
  }
  .test-7-banner-section .item3 > .content-container > .content-description {
    margin-bottom: 26px;
    width: unset;
    font-size: 22px;
    line-height: 27.5px;
  }
  .test-7-banner-section .item3 > .content-container > .content-button {
    margin-left: 0px;
  }

  .test-7-banner-section .carousel {
    max-width: 430px;
    height: 666px;
    margin: auto;
  }

  .test-7-banner-section .dots-container {
    bottom: 3%;
  }

  .test-7-banner-section .web-slider-image {
    display: none;
  }

  .test-7-banner-section .mobile-slider-image {
    display: block;
  }

  .test-7-banner-section .slide-item-1,
  .test-7-banner-section .slide-item-3 {
    position: relative;

    display: flex;
    flex-direction: column;
  }
  .test-7-banner-section .slide-item-1 > .slide-content-container,
  .test-7-banner-section .slide-item-3 > .slide-content-container {
    position: unset;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .test-7-banner-section .slide-item-1 > .mobile-slider-image,
  .test-7-banner-section .slide-item-3 > .mobile-slider-image {
    flex: 1;
  }
  .test-7-banner-section .slide-title {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  .test-7-banner-section .slide-description {
    font-size: 16px;
    line-height: 20px;
  }

  .test-7-banner-section
    .slide-item-1
    > .slide-content-container
    > .slide-title,
  .test-7-banner-section
    .slide-item-3
    > .slide-content-container
    > .slide-title {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .test-7-banner-section
    .slide-item-1
    > .slide-content-container
    > .slide-description,
  .test-7-banner-section
    .slide-item-3
    > .slide-content-container
    > .slide-title {
    margin-block: 23px !important;
  }

  .test-7-banner-section .slide-button {
    display: block;
    margin-inline: auto;
  }

  .test-7-banner-section .slide-item-2 > .slide-content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    right: unset;
    transform: translate(-50%, -50%) !important;
    width: 100%;
  }

  .test-7-banner-section
    .slide-item-2
    > .slide-content-container
    > .slide-description {
    color: #ffffff;
    margin-bottom: 30px;
  }
  .test-7-banner-section
    .slide-item-2
    > .slide-content-container
    > .slide-description {
    text-align: center;
  }

  .test-7-banner-section
    .slide-item-3
    > .slide-content-container
    > .slide-title {
    width: 100%;
  }
  .test-7-banner-section
    .slide-item-3
    > .slide-content-container
    > .slide-description {
    margin-bottom: 26px;
  }
  .test-7-banner-section .item4 > p:first-child {
    width: 65%;
  }
}
